<!DOCTYPE html>
<html>
  <head>
    <title>FoimoveisRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>Feirão Online de Imóveis</title>
    <meta charset="utf-8">
    <meta name="description" content="Feirão de imóveis online">
    <meta name="keywords" content="Imovel, Aluguel de imóveis, Venda de Imóveis, Corretor, Corretor de imóveis">
    <meta name="author" content="StarFish">
    <meta name="theme-color" content="#2B669A">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="icon" href="img/fav2.png" />


  </head>

  <body>
    <%= yield %>
  </body>
</html>
